html {
    scroll-behavior: smooth;

}

* {
    font-family: "Alexandria", sans-serif;
    color: rgb(246, 249, 255);
}

body {
    background-image: linear-gradient(to bottom,
            rgb(246, 249, 255) 0rem,
            rgb(246, 249, 255) 18rem,
            rgb(41, 44, 49) 18rem,
            rgb(41, 44, 49) 1000rem);
    height: auto;
}

.sticky-header {
    background-color: rgb(246, 249, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6%;
    z-index: 999999;
}

.header-list {
    list-style: none;
    display: flex;
    margin-top: 0.5rem;
    margin-bottom:0;
    justify-content: flex-end;
    max-height: fit-content;
}

.logo {
    width: 6rem;
    margin-right: 5rem;
    margin-left: 1.5rem;
}

/* 2.1.2 navigation */

.nav-button i {
    font-size: 1.5rem;
    margin-right: 4vw;
    margin-bottom: 1rem;
    color: #292c31
}

#home-button{
    margin: 0;
    margin-top: 0.5rem;
    padding-left: 1rem;
}
#home-button i {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 0;
    margin-right: 1vw;
    color: #292c31;

}


#sticky-header-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#name {
    display: flex;
    justify-content: center;
    font-family: "Alexandria", sans-serif;
    font-size: 2.5rem;
    margin-top: 12vh;
    color: #292c31;


}

#title {
    display: flex;
    justify-content: center;
    font-family: "Alexandria", sans-serif;
    font-size: 1rem;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    color: #292c31;
}

#job-areas {
    display: flex;
    justify-content: center;
    font-family: "Alexandria", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
}

.profile-picture {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-width: 0.2rem;
    border-style: solid;
    object-fit: cover;
}


#line-1 {
    margin-top: 2.5rem;
    height: 2px;
    border-width: 0;
    background-color: #000000;
    max-width: 83%;
    margin-left: 8vw;

}

.header-1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.academics-header {
    font-size: 1.3rem;
}

.code-institute-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin: 0;
}

.code-institute-container p {
    margin:0;
}


.code-institute {
    width: 14rem;
    height: auto;
    border-width: 0.2rem;
    border-style: solid;
    border-color: #000000;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 1rem;
}

#diploma {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}


.container {
    margin: 0;
}
.skills {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 90%;
    margin-top: 1.5rem;
    margin-left: 6vw;

}

.competent-skills {
    width: 18vw;
    max-height: 38vw;
    display: flex;
    margin-top: 18%;
    align-items: center;

}

#python {
    width: 20vw;
   height: 25vw;
}
#level-list {
    list-style: square;
    max-width: 50vw;
    max-height: 113px;
    margin-top: 12%;
    margin-bottom: 1rem;
    padding-inline-start: 0;
    font-family: "Alexandria", sans-serif;
    font-size: 2.8vw;
}

.framework-description {
    font-size: 2.8vw;
    padding:0;
    margin-top:0.2rem;
}

.level-description {
    font-size: 2.8vw;
}

.framework-list {
    text-align: center;
    margin-top: 1.2rem;
}

.competent-frameworks {
    max-height: 130px;
    margin-top: 1rem;
}

#bootstrap-container {
    display: flex;
    margin-right: 2rem;
    margin-left: 2rem;
    border-width: 0.1rem;
    border-style: solid;
    border-bottom: none;
    border-right: none;
}

.bootstrap-list {
    padding:0;
}


#jsquery-container {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 2rem;
    border-width: 0.1rem;
    border-style: solid;
    border-left: none;
}

#jsquery-list {
    padding: 0;
}

#django-container {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    border-width: 0.1rem;
    border-style: solid;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

#react-container {
    display: flex;
    justify-content: space-around;
    margin-left: 2rem;
    margin-right: 2rem;
    border-width: 0.1rem;
    border-style: solid;
    border-left: none;
}

#django-list {
    padding: 0;
}

#react-list {
  padding:0;
}


.cms {
    width: 9rem;
    height: 8rem;
    margin-top: 0;
}

#cms-container {
    display: flex;
    justify-content: space-around;
    margin-right: 2rem;
    margin-left: 1rem;
    border-width: 0.1rem;
}

.version-control {
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 1rem;
    border-width: 0.1rem;
}
.github {
    width: 12rem;
}

.git {
    width: 7.2rem;
    margin-left: 1rem;
}

.cv {
    display: flex;
    justify-content: center;
}

.cv-pdf {
    width: 8rem;
    height: auto;
    margin-top: 2rem;
}

.modal {
    width: 85%;
}

.modal-p i {
    color: #000000;
}

#cv-info {
    text-align: center;
    margin-bottom: 2rem;;
    padding-left: 2rem;
    padding-right: 2rem;
}

#contact-info {
    text-align: center;
    margin-bottom: 2rem;;
    padding-left: 2rem;
    padding-right: 2rem;
}

#about-info {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
}

.contact-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #0a0909;
    border-style: solid;
    border-width: 0.2rem;
    border-color: #ffffff;
    padding: 2% 0 2% 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    list-style: none;
    text-transform: uppercase;
    margin-top: 10vw;
    ;
}

.form-inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000000;

}

.text-inputs {
    margin-bottom: 5%;
    width: 90%;
    height: 3vh;
    color: #000000;
}

.button-submit-button {
    color: #292c31;
}

#message {
    width: 90%;
    height: 12vh;
}


.map-wrapper {
    display:flex;
    justify-content: center;
    margin-left:0.5rem;
    width:90%;
    
}

.building-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

.bb-photos {
    width: 40vw;
    margin-top: 3rem;
    margin-right: 0;
    border-width: 0.1rem;
    border-color: white;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

#bb-logo {
    border: none;
    height: 4rem;
    width: 10rem;
    margin-top: 3rem;
    margin-right: 1rem;
}

#bb-description {

    max-width: 13rem;
    font-size: 3.5vw;
    margin-left:1.2rem;
    margin-top: 1.5rem;
    margin-right: 2rem;
}

.bb-logo-and-description {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

#find-me-wrap {
    display:flex;
    flex-direction: wrap;
    justify-content: center;
}

#where-to-find-me {
    margin-left: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#footer {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height:5%;
    background-color: rgb(246, 249, 255);
    color: rgb(152, 0, 0);
    text-align: center;
  }

  #footer{
    color:#000000;
  }

  #footer p {
    color:#000000;
    font-size: 0.7rem;
  }

  #end {
    color: #292c31;
  }


.thank-you {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    border-style: solid;
    border-color: #292c31;
    border-width: 0.3rem;
    display: flex;
    justify-content: center;
    ;

}
